@charset "UTF-8";

body{
	color:white;
}
.logo{
	position:relative;
	margin:0 auto;
	width:215px;
	height:33px;
	right:195px;
}
.logo>img{
	width:30px;
	height:33px;
	background-image:url("../img/logo.png");
	background-size: cover;
	float:left;
}
.logo>label{
	width:185px;
	height:25px;
	font-size:17px;
	color:#ccc;
	font-weight:700;
	float:left;
}

section{
	width:100%;
	height:550px;
	background-color:#161616;
}

.ulcss{
	position:relative;
	top:10px;
	width:600px;
	height:530px;
	border: 1px solid white;
	margin:0 auto;
	font-size:13px;
	background-color:rgb(61, 60, 60);
}
.ulcss>li{
	width:560px;
	height:40px;
	margin-left:20px;
	margin-bottom:5px;
	font-size:12px;
	line-height:40px; 
}
.ulcss>li:first-child {
	margin-top:20px;
	
}
.t1{
	width:220px;
	height:30px;
	box-sizing:border-box;
	font-size:12px;
	
}
.mail{
	width:550px;
	height:30px;
	box-sizing:border-box;
	font-size:12px;
}
.ulcss>li:nth-of-type(2)>span{
	position:relative;
	margin-left:5px;
	width:100px;
	height:30px;
	background-color:  #1D1D19;
	text-align:center;
	line-height:30px;
	border :1px solid white;
	top:4px;	
	float:left;
	cursor:pointer;
}

input[type=password]{
	width:220px;
	height:30px;
	box-sizing:border-box;
	font-size:12px;
}
.pw2{
	margin-left:5px;
}

.ulcss>li:last-child>div {
	width:100px;
	height:30px;
	float:left;
	border :1px solid white;
	position:relative;
	left:150px;
	text-align:center;
	line-height: 30px;
	cursor: pointer;
	background-color:#435971;
}
.ulcss>li:last-child>div:last-child{
		margin-left:5px;
		background-color:#1D1D19;
}
select{
	width:160px;
	height:30px;
font-size:12px;
letter-spacing:-1px;
}
select:nth-child(2){
	
	width:160px;
	height:30px;
	margin-left:5px;
	
}

.tt{
	width:100px;
	height:30px;
	box-sizing:border-box;
	font-size:12px;
	text-align: center;
}
.tt:nth-child(1) {
	width:80px;
}
input[type=text]{
	margin-top:5px;
}