@charset "UTF-8";


.l1{
	
	width:100%;
	height:30px;
	margin-top:20px;
}
.l1ul{
	width:1000px;
	height:30px;
	margin:0 auto;
	display:flex;
	justify-content: flex-start;
	line-height:30px;
}

.l1ul>li:nth-child(1) {
	font-size:15px;
	color:red;
}
.l1ul>li:nth-child(2){
	font-weight:bold;
	font-size:15px;
	color:#333333;
}

.notice_s{
	width:100%;
	height:auto;
	
}

.notice_s>ul{
	margin:0 auto;
	width:1000px;
	height:auto;
	border-top:3px solid rgb(81, 61, 61); 
}

.notice_s>ul>li{
	width:inherit;
	height:40px;
	border-bottom:1px solid black;
	display:flex;
}
.notice_s>ul>li:last-child{
	border:0;
	justify-content: end;
	margin-top:5px;
}
.notice_s>ul>li:nth-child(4){
	
	height:550px;
}

.notice_s>ul>li>label{
	height:40px;
	line-height:34px;
	font-size:11px;
	margin-left:5px;
	color:#333333;
}
.notice_s>ul>li:last-child>div{
	width:150px;
	height:45px;
	font-size:13px;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
	color:white;
}
.notice_s>ul>li:last-child>div:nth-child(1){
	background-color:rgb(81, 61, 61);
	
}

.notice_s>ul>li:last-child>div:nth-child(2){
	background-color:rgb(132, 6, 6);
	margin-left:8px;
}


.notice_s>ul>li>span{
	width:250px;
	height:40px;
	line-height:40px;
}

.n_sub{
	margin-top:2px;
	width:550px;
	height:30px;
}

.n_writer{
	margin-top:2px;
	width:200px;
	height:30px;
}
.n_file{
	margin-top:7px;
	width:208px;
}
.ntexts{
	box-sizing:border-box;
	margin-top:5px;
	width:700px;
	height:540px;
}